h1>Burgers!</h1>

<h2>Devoured Burgers</h2>

<ul>
  {{#each burger}}
    {{#unless }}    
      {{!-- {{> cats/cat-block sleep=true}} --}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Eaten Burgers!</h2>

<ul>
  {{#each burger}}
    {{#if eaten}}
     {{!-- {{> burger/burger-block sleep=false}} --}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="sleepy">Devoured?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Devoured!<br>
    <input type="radio" name="sleepy" value="0"> Uneatedn
  </div>

  <button type="submit">Add a Burger</button>
</form>
