.create-form {
    padding: 5px;
    margin: 5px;
    background-color: #bd7db6;
  }
  
  label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: rgb(137, 102, 168);
  }
  
  .form-group {
    margin-bottom: 5px;
  }

  body {
    background-color: rgb(224, 195, 226);
    text-align: center;
   
  }
  